:root {
  --container-bg: #eee;
  --element-bg: #ddd;
  --body-bg: #fff;
  --subelement-bg: #ccc;
}

body {
  background: var(--body-bg);
}

nav {
  background: var(--element-bg);
}

.container {
  background: var(--container-bg);
}

.wrapper {
  display: flex;
}

#sidebar {
  width: 250px;
  height: 100vh;
  position: fixed;
}

#project-card {
  background: var(--element-bg);
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}

.card-child {
  display: flex;
}

.card-title {
  width: 100%;
  font-weight: bold;
  font-size: 30px;
}

.card-desc {
  width: 100%;
}

.project-status {
  background: #bbb;
}

.task-card {
  background: var(--element-bg);
}

.subtype-title {
  background: var(--element-bg);
  font-weight: bold;
  font-size: 20px;
}