{% extends "base.html" %}
{% block content %}
  <div>
    <div class="card-title">{{ task.title }}</div>

    {% if task.description %}
      <div class="card-desc">Description: {{ task.description }}</div>
    {% endif%}

    {% if task.date_due %}
      <div class="card-child">Due: {{ task.date_due.date() }}</div>
    {% endif %}

    <div><a class="btn btn-info" href="{{ url_for('tasks.update_task', task_id=task.id) }}">Update</a></div>
    <form action="url_for('tasks.delete_task', task_id=task.id)" method="POST">
      <input class="btn btn-danger" type="submit" value="Delete">
    </form>

    {% if task.project %}
      <div class="project-status">Parent project of this task</div>
      <div><a href="{{ url_for('projects.project', project_id=task.project.id) }}">{{ task.project.title }}</a></div>
    {% else %}
      <div>This task is not associated with a project</div>
    {% endif %}

    {% if task.subtypes %}
    <div class="project-status">Subtypes</div>
      {% for subtype in task.subtypes %}
        <div class="card-child">{{ subtype.type }}</div>
      {% endfor %}
    {% else %}
      <div class="project-status">There are no subtypes associated with this task</div>
    {% endif %}
  </div>
{% endblock content %}