{% extends "base.html" %}
{% block content %}
  {% include "partials/subtypes_card.html" %}
  <div>
    <form method="POST" action="">
      {{ form.csrf_token }}
      <fieldset>
        <div>
          {% if form.type.errors %}
            {{ form.type }}
            {% for error in form.type.errors %}
              <span>{{ error }}</span>
            {% endfor %}
          {% else %}
            {{ form.type(class="form-control form-control-sm m-1") }}
          {% endif %}
        </div>
      </fieldset>
      <div>
        {{ form.submit(class="btn btn-success") }}
      </div>
    </form>
  </div>
{% endblock content %}