{% extends "base.html" %}
{% block content %}
  {% if title %}
    <h1>{{ title }}</h1>
  {% endif %}
  <div>
    {% for subtype in subtypes %}
      <div>
        <h1>{{ subtype.type }}</h1>
      </div>
    {% endfor %}
  </div>
  <div>
    <form method="POST" action="">
      {{ form.csrf_token }}
      <fieldset>
        <div>
          {{ form.type.label }}
          {% if form.type.errors %}
            {{ form.type }}
            {% for error in form.type.errors %}
              <span>{{ error }}</span>
            {% endfor %}
          {% else %}
            {{ form.type }}
          {% endif %}
        </div>
      </fieldset>
      <div>
        {{ form.submit }}
      </div>
    </form>
  </div>
{% endblock content %}